# Node.js specific
node_modules/
npm-debug.log
*.env # Or any other environment variable files
api/.env
build/
dist/
tmp/
*.log
*.tgz

#Azure Creds
appointment-sch-vm-1_key.pem

# Python specific
__pycache__/
*.pyc
*.pyd
*.pyo
.venv/ # Virtual environment directory
env/ # Common alternative for virtual environment directory
venv/ # Common alternative for virtual environment directory
.Python # macOS specific
pip-log.txt
.coverage
.pytest_cache/
htmlcov/
.mypy_cache/

# Operating System / Editor specific
.DS_Store
.vscode/
.idea/
*~
# Backup files
*.bak
*.swp